# Schedule the container to rerun every day at 8 am. More on cron expressions https://crontab.guru/ 
0 8 * * * docker restart funda_scrapper-container
0 8 * * * docker restart pararius_scraper_container
0 9 * * * docker restart kamernet_scraper_container
0 9 * * * docker restart huurwoningen_scraper_container
0 23 * * * docker restart directwonen_scraper_container
# extra line to make this a valid crontab.